<%= render'books/list',book:@book ,user:@user %>

<h2>Users</h2>

	<table>
	<tr>
		<th>name</th>
	</tr>

	<!--取得・一覧のリストをここに出す-->
	<% @users.each do |users| %>
	<tbody>
	<tr>
		<td><%= attachment_image_tag users, :profile_image, :fill, 60, 60, format: "jpg", fallback: "no-image-icon.jpg" %></td>
		<td><%= users.name %></td>
		<td><%= link_to "Show", user_path(users.id) %>
		</td>
	</tr>
	</tbody>
	<% end %>
</table>
